* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  &__user {
    &--name {
      height: 100px;
      width: 100%;
      background-color: #253141;
      display: flex;
      align-items: center;
    }
  }
  &__group {
    &--list {
      height: calc(100% - 100px);
      width: 100%;
      background-color: #2f3e51;
    }
  }
}

.top-items {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    height: 100%;
    width: calc(100% - 60px);
    font-size: 16px;
  }
  &__icons {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      color: #ffffff;
    }
    &__btn {
      &--new {
        margin-right: 5px;
      }
      &--edit {
      }
    }
  }
}

.dijest-items__group {
  height: 100%;
  width: 100%;
  padding: 20px;
  a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  &--name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  &--message {
    font-size: 11px;
    margin-bottom: 40px;
  }
}

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group {
    &--info {
      height: 100px;
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #eeeeee;
      position: fixed;
    }
  }
  &__message {
    &--list {
      // height: calc(100% - 190px);
      height: calc(100% - 90px);
      width: 100%;
      background-color: #fafafa;
      padding-top: 100px;
    }
    &--form {
      height: 90px;
      width: 100%;
      background-color: #d2d2d2;
      padding: 20px 40px 20px 50px;
    }
  }
}

.group-items {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  &__text {
    &--group {
      font-size: 20px;
      color: #333333;
      margin-top: 35px;
    }
    &--member {
      font-size: 12px;
      color: #999999;
      margin-top: 15px;
      margin-left: 5px;
      display: flex;
    }
  }
  &__btn {
    height: 40px;
    width: 72px;
    margin-top: 28px;
    margin-right: 40px;
    padding: 10px 20px;
    color: #38aef0;
    font-size: 16px;
    border: 1px solid #38aef0;
    a {
      text-decoration: none;
    }
  }
}

.main-items {
  padding-left: 40px;
  &__title {
    display: flex;
    margin-top: 35px;
    margin-bottom: 12px;
    &--user {
      font-size: 16px;
      color: #333333;
    }
    &--time {
      font-size: 12px;
      color: #999999;
      margin-left: 5px;
    }
  }
  &__body {
    &--message {
      margin-bottom: 46px;
      font-size: 14px;
      color: #434a54;
    }
  }
}

.new-message {
  height: 100%;
  width: 100%;
  display: flex;
  &__text {
    padding-left: 10px;
    // padding: 10px 40px 10px 50px;
    font-size: 16px;
    height: 50px;
    width: 1350px;
    color: #434a54;
    border-style: none;
  }
  &__file {
    height: 100%;
    width: 100px;
    padding: 0px 10px;
    display: flex;
    &__picture {
      position: relative;
      &--icon {
        position: absolute;
        top: 15px;
        left: 1380px;
        font-size: 20px;
      }
      &--hidden {
        visibility: hidden;
      }
    }
  }
  &__send {
    width: 100px;
    height: 50px;
    padding: 0 20px;
    margin-left: 15px;
    background-color: #38aef0;
    color: #ffffff;
    font-size: 16px;
  }
}