* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side {
  height: 100vh;
  width: 300px;
  &__top {
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  &__middle {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #2f3e51;
  }
}

.main {
  height: 100vh;
  width: calc(100vw - 300px);
  &__top {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    position: fixed;
  }
  &__middle {
    height: calc(100% - 90px);
    width: 100%;
    background-color: #fafafa;
    padding-top: 100px;
    padding-left: 40px;
    overflow: auto;
  }
  &__bottom {
    height: 90px;
    width: 100%;
    background-color: #d2d2d2;
    padding: 20px 40px 20px 50px;
  }
}

.top-items {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    height: 100%;
    width: calc(100% - 60px);
    font-size: 16px;
  }
  &__icons {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      color: #ffffff;
    }
    &__btn {
      &--new {
        margin-right: 5px;
      }
      &--edit {
      }
    }
  }
}

.side-items {
  &__group {
    height: 100%;
    width: 100%;
    padding: 20px;
    a {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none;
    }
    &--name {
      font-size: 15px;
      margin-bottom: 5px;
    }
    &--message {
      font-size: 11px;
      margin-bottom: 40px;
    }
  }
}

.group-items {
  height: 100%;
  width: calc(100vw - 300px);
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  &__contents {
    &--group {
      font-size: 20px;
      color: #333333;
      margin-top: 35px;
    }
    &--member {
      font-size: 12px;
      color: #999999;
      margin-top: 15px;
      margin-left: 5px;
      display: flex;
    }
  }
  &__edit {
    height: 40px;
    width: 72px;
    margin-top: 28px;
    padding: 10px 20px;
    color: #38aef0;
    font-size: 16px;
    border: 1px solid #38aef0;
    a {
      text-decoration: none;
      color: #38aef0;
    }
  }
}

.main-items {
  &__title {
    display: flex;
    margin-top: 35px;
    margin-bottom: 12px;
    &--user {
      font-size: 16px;
      color: #333333;
    }
    &--time {
      font-size: 12px;
      color: #999999;
      margin-left: 5px;
    }
  }
  &__body {
    &--message {
      margin-bottom: 46px;
      font-size: 14px;
      color: #434a54;
    }
  }
}

.new-message {
  height: 100%;
  width: calc(100vw - 390px);
  display: flex;
  &__field {
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    &--text {
      height: 50px;
      width: 100%;
      padding: 0 40px 0 10px;
      color: #434a54;
      border-style: none;
      font-size: 16px;
    }
    &--image {
      width: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 1.3rem;
      &--file {
      }
    }
  }
  &__btn {
    height: 50px;
    width: 100px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
}

.icon {
  font-size: 20px;
}

.hidden {
  visibility: hidden;
}